@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
    width: 80%;
    margin: 0 auto;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    background-color:#c6e4dc;
    border-radius: 10px;
    padding: 90px 45px;
    
    }
.banner-sub-title{
    color: #8ca197;
    font-size: 24px;
    font-weight: 500;
}
.banner-title{
    font: bold;
    font-size: 56px;
    margin: 20px 0;
}

.btn-primary{
    background-color: #006a50;
    font-size: 18px;
    font: 700;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
}
/* feture */
.feture-title{
    font: 400;
    font-size: 40px;
    color: #0E0E0E;
}
.feture-description{
    font-size: 16px;
    font: 300;
    color: #0E0E0E;
}