@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: "Fira Sans", serif;
    background-color: #f5f5f5;
    width: 80%;
    margin: 0 auto;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    background-color:#c6e4dc;
    border-radius: 10px;
    padding: 90px 45px;
    
    }
.banner-sub-title{
    color: #8ca197;
    font-size: 24px;
    font-weight: 500;
}
.banner-title{
    font: bold;
    font-size: 56px;
    margin: 20px 0;
}

.btn-primary{
    background-color: #006a50;
    font-size: 18px;
    font: 700;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
}
/* feture */
.feture-title{
    font: 400;
    font-size: 40px;
    color: #0E0E0E;
    padding: 15px 0;
    margin-top: 70px;
}
.feture-description{
    font-size: 16px;
    font: 300;
    color: #B30E0E0E;
    margin-bottom: 20px;
    
    
}
.feture-container{
    display: flex;
    padding: 15px 0;
    gap: 30px;
    
}
/*  */
.feture-container-0{
    background-color: #c6e4dc;
    padding:32px 32px;
    border-radius: 12px;

    
}
.feture-title-0{
    font: 20px;
    font-size: bold;
    color: #0E0E0E;
}

.feture-description-0{
    font-size: 16px;
    font: 300;
    color: #0E0E0E;
    padding: 15px 0;
}

.feture-button{
    font-size: 16px;
    font: 500;
    color: #ffffff;
    background-color: #5490f5;
    border-radius: 4px;
    padding: 5px 7px;
    border: none;
}
/* fdft */
.feture-container-1{
    background-color: #d5e1f5;
    padding: 32px 32px;
    border-radius: 12px;
}
.feture-title-0{
    font: 20px;
    font-size: bold;
    color: #0E0E0E;
}
.feture-description-1{
    font-size: 16px;
    font: 300;
    color: #0E0E0E;
    padding: 15px 0;
}

.feture-button-1{
    font-size: 16px;
    font: 500;
    color: #ffffff;
    background-color: #09a15c;
    border-radius: 4px;
    padding: 5px 7px;
    border: none;
}
/* fdff */
.feture-container-2{
    background-color: #f7ebcf;
    border-radius: 12px;
    padding: 32px 32px;
}
.feture-title-2{
    font: bold;
    font-size: 20px;
    color: #0E0E0E;

}
.feture-description-2{
    font-size: 16px;
    font: 300;
    color: #0E0E0E;
    padding: 15px 0;
}

.feture-button-2{
    font-size: 16px;
    font: 500;
    color: #ffffff;
    background-color: #ffc239;
    border-radius: 4px;
    padding: 5px 7px;
    border: none;
}
.details{
    background-color: #ffffff;
    padding: 30px 10px;
    

}
.description-more{
    font: 100;
    font-size: 16px;
    color: #0E0E0E;
    background-image: url(../assets/quote-bg.png);
    background-color: white;
    background-repeat:no-repeat;
    background-position: left;
   
}
.name{
    font: 400;
    font-size: 20px;
    color: #0E0E0E;
}
.name-1{
    font-size: 16px;
    font: 200;
    color: #0E0E0E;
    
}

/* recent news */
.news-1{
    font: bold;
    font-size: 40px;
    color: #0E0E0E;
    text-align: start;
    margin-top: 40px;
}
.recent-1{
    font-size: 16px;
    font: 300;
    color: #0E0E0E;
    padding: 15px 0;
}
.news-part{
    display: flex;
    padding: 48px 48px;
    background-color:#ffffff;
    margin: 30px 0;
    gap: 30px;
    

}
.news-container{
    padding: 0;
    
}
.news-title{
    font: bold;
    font-size: 32px;
    color: #0E0E0E;
    padding: 10px 0;
}
.news-description{
    font: medium;
    font-size: 16px;
    color: #0E0E0E;
    padding: 10px 0;
} 
.png{
    padding: 10px;
}
.recent-button{
    font: 500;
    font-size: 18px;
    color: white;
    background-color: #006a50;
    border-radius: 4px;
    padding: 5px 7px;
    border: none;
    
}
.project-img{
    border-radius: 15px;
}
/* ghgf */
.news-part-1{
    display: flex;
    padding: 48px;
    background-color: #ffffff;
    gap: 30px;
    margin: 30px 0;
}
.news-container-1{
    padding: 0;
}
.news-title-1{
    font: bold;
    font-size: 32px;
    color: #0E0E0E;
    padding: 10px 0;
} 
.png-1{
    padding: 10px;  
}
.news-description-1{
    font: medium;
    font-size: 16px;
    color: #0E0E0E;
    padding: 10px 0;
}   
.recent-button-1{
    font: 500;
    font-size: 18px;
    color: white;
    background-color: #006a50;
    border-radius: 4px;
    padding: 5px 7px;
    border: none;
}
.project-img-1{
    border-radius: 15px;
}
/* donate */
.donate-title{
    font: bold;
    font-size: 40px;
    color: #0E0E0E;
    text-align: center;
    margin-top: 50px;
}
.donate-description{
    font: 100;
    font-size: 16px;
    color: #0E0E0E;
    text-align: center;
    margin-top: 20px; 
}
.parent{
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content:space-around;
    
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
 }
 .child{
    border: 2px solid black;
    
    padding: 20px;
    margin:  0;
    font-size: 28px;
    border-radius: 15px;
    

}
.child-more{
    border: 2px solid black;
    
padding: 20px;
margin:  0;
font-size: 28px;
border-radius: 15px;
background-color: #c6e4d6;

}
.des-tag{
    background-color: white;
    text-align: center;
    height: 50px;
    padding-top: 13px;
    opacity: 50%;
    margin-top: 30px;
    font-size: 18px;
}
.button-more{
    text-align: center;
    font-size: 18px;
    font: 500;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 4px;
    padding: 5px 7px;
    border: none;
    margin: 20px;
    margin-top: 30px;
}
.all-tag{
    text-align: center;
}
.time{
    display: flex;
}
.pera{
    padding-left: 10px;
}
.time-1{
    display: flex; 
}
.pera-1{
    padding-left: 10px;
}
.demo-taka{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid silver;

}
.taka-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.taka-color{
    background-color: #c6e4d6;
}